In [ ]:
# Task 1
num1 = float (input("Enter first number: "))
num2 = float (input("Enter second number: "))
sum = num1 + num2
print ("The sum of numbers :" , sum)

Enter first number: 3
Enter second number: 4
The sum of numbers : 7.0

In [ ]:
# Task 2
num = int (input("Enter a number: "))
if (num % 2) == 0 :
  print ("even number")
else:
  print ("odd number")

Enter a number: 33
odd number

In [ ]:
# Task 3
for i in range (0,21,2):
  print (i , end =" ")

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
# Task 4
String = input("Enter the string :")
count = 0
String = String.lower()
for i in String:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count+=1
if count == 0:
    print('No vowels found')
else:
    print('number of vowels are :' + str(count))

Enter the string :Rawan
Total vowels are :2

In [ ]:
# Task 5
list = [1,2,3,4,5,6,7,8,9,10]
for i in list :
      print (i , "the power of number" ,i*2)

1 the power of number 2
2 the power of number 4
3 the power of number 6
4 the power of number 8
5 the power of number 10
6 the power of number 12
7 the power of number 14
8 the power of number 16
9 the power of number 18
10 the power of number 20

In [ ]:
# Task 6
list_score = []
total_score = 0
name = input("enter your name : ")
print ("enter three names of three subjects:")
for score in range(3):
    list_score.insert(score, input())

print("enter three scores of three subjects: ")
for score in range(3):
    list_score.insert(score, input())

    # loop for computing average test score
for score in range(3):
      total_score = total_score + int(list_score[score])
      avg_grade = total_score/3
print("Average marks:", avg_grade)
if avg_grade >= 70 :
   print ("Good Job")
else:
   print ("Keep pushing!")

enter your name : Ali
enter three names of three subjects:
Arabic
Math
Science
enter three scores of three subjects:
70
60
80
Average marks: 70.0
Good Job

In [ ]:
# Task 7
list1 =( input("Enter a list element separated by space "))
list2 =( input("Enter a list element separated by space "))
print("First list is:", list1)
print("Second list is:", list2)
newList = []
for element in list1:
    if element in list2:
        newList.append(element)
print("Intersection of the lists is:", newList)

Enter a list element separated by space 3 7 1 9 2
Enter a list element separated by space 2 9 0 4 6
First list is: 3 7 1 9 2
Second list is: 2 9 0 4 6
Intersection of the lists is: [' ', ' ', ' ', '9', ' ', '2']

In [ ]:
# Task 8
list = [1,2,3,4,5]
list.remove(3)
print( "After using the function to remove :", list )

After using the function to remove : [1, 2, 4, 5]

In [ ]:
# Task 9
a = 3
b = 4
c = 5
d = 6
total = a* b* c* d
print (total)
print (total % 100)

360
60

In [ ]:
# Task 10
num = int (input ("enter a number"))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter a number3
3 is a prime number

In [ ]:
# Task 11
list=[ 1, 6, 3, 5, 3, 4 ]
x = 6
if x in list :
    print("exist")
else:
    print("not exist")
list.index(x)

exist

1

In [ ]:
# Task 12
list = [1 , 2 , 1 , 5]
x = 1
count = 0
for element in list :
  if (element == x):
    count = count +1
print (count)
if (count % 3 == 0) :
  print ("lucky")
else :
  print ("Not lucky")

2
Not lucky

In [ ]:
# Task 13
# find max
list = [50,14,30,40,10]
max = list [0]
n = len (list)
for i in range (1 , n ):
    if list [i] > max :
       max = list[i]
print (max)
# find min
list = [50,14,30,40,10]
min = list [0]
n = len (list)
for i in range (1 , n ):
    if list [i] < min :
       min = list[i]
print (min)

# swap
def swap (newList):
    size = len(newList)
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp

    return newList

newList = [50,14,30,40,10]


print(swap(newList))

50
10
[10, 14, 30, 40, 50]

In [ ]:
# Task 14
list = [30 , 90 , 80 , 15]
print (min (list))

print(list.index(15))

15
3

In [ ]:
# Task 15
list = [30 , 90 , 80 , 15]

list.sort()
print (list)

[15, 30, 80, 90]

In [ ]:
# Task 16
str1 = "Hello python"

str1 = str1.replace(" ","");

print("String after removing all spaces : " + str1)

String after removing all spaces : Hellopython

In [ ]:
# Task 17
def swap(newList):
    size = len(newList)
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp

    return newList

newList = [12, 35, 9, 56, 24]

print(swap(newList))

[24, 35, 9, 56, 12]

In [ ]:
# Task 18
names = {"Ahmed","Ali"}
print(names)
names.add("Amr")
print("Add single element : ",names)
names.update(["Mohamed", "Omar"])
print("Add multiple items : ",names)

{'Ahmed', 'Ali'}
Add single element :  {'Ahmed', 'Amr', 'Ali'}
Add multiple items :  {'Ahmed', 'Omar', 'Mohamed', 'Amr', 'Ali'}

In [ ]:
# Task 19
s = {30,50,70,20,30,60}
print("Set : ",s)
s.discard(20)
print("Remove item : ",s)
s.discard(15)
print("Remove Item not found" , s)

Set :  {50, 20, 70, 60, 30}
Remove item :  {50, 70, 60, 30}
Remove Item not found {50, 70, 60, 30}

In [ ]:
# Task 20
d = {1:1, 2:5, 3:15, 4:20}

print(max(d))

print(min(d))

4
1

In [ ]:
# Task 21
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dict1)
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}